@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}



@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito+Sans:wght@200&family=Rubik&display=swap');


@media screen and (max-width: 768px) {
    .leaflet-popup-content {
      font-size: 14px;
    }
  }
  